aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram
py-tgcalls
wget
python-dotenv
youtube-search-python
youtube-search
motor
psutil
requests
rich
dnspython
yt-dlp==2021.11.10.1
tgcrypto
gitpython
heroku3
